:root {
  --main-color-short-rest: #98e0ff;
  --main-color-long-rest: #98b5ff;
  --main-color-working: #ff8074;
  --main-color-default: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--main-color-default);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: var(--main-color-working);
}

.restingShort {
  background: var(--main-color-short-rest);
}

.restingLong {
  background: var(--main-color-long-rest);
}

.hidden {
  display: none;
}

.pomodoro {
  background: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pomodoro h2 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.pomodoro .timer {
  margin: 30px 0;
  font-size: 7.4rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pomodoro button {
  background: var(--main-color-default);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
}

.working .pomodoro button {
  background: var(--main-color-working);
  color: #fff;
}

.restingLong .pomodoro button {
  background: var(--main-color-long-rest);
  color: #fff;
}

.restingShort .pomodoro button {
  background: var(--main-color-short-rest);
  color: #fff;
}

.pomodoro .details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 20px 35px;
}

.pomodoro .details p {
  margin: 0 20px;
  font-weight: 100;
  margin-bottom: 8px;
  text-align: center;
}

.details-label {
  font-weight: 600;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5px 0;
}

.settings-icon {
  color: var(--main-color-default);
  transition: color 300ms ease-in-out;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-controls {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-control {
  display: flex;
  align-items: center;
}

.settings-control-unit {
  width: 30%;
  margin: 6px 10px;
  padding: 3px 10px;
}
